[user]
name = Gregory Bleiker
email = gregory.bleiker@bbv.ch

[gc]
autoDetach = false

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[credential]
helper = manager

[pull]
rebase = false

[fetch]
prune = false

[rebase]
autoStash = false

[core]
editor = vim
autocrlf = true
# safecrlf = true

[alias]
co = checkout
ci = commit
st = status
br = branch
hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
type = cat-file -t
dump = cat-file -p
