<packages>
	<package id="adobereader" />
	<package id="adobereader-update" />
	<package id="adoptopenjdkjre" />
	<package id="autohotkey.portable" />
	<package id="azure-data-studio" />
	<package id="azure-functions-core-tools" />
	<package id="blender" />
	<package id="chocolatey" />
	<package id="chocolatey-core.extension" />
	<package id="chocolatey-dotnetfx.extension" />
	<package id="chocolatey-visualstudio.extension" />
	<package id="chocolatey-windowsupdate.extension" />
	<package id="chocolateygui" />
	<package id="Cmder" />
	<package id="cyg-get" />
	<package id="Cygwin" />
	<package id="databasenet" />
	<package id="dbeaver" />
	<package id="docker" />
	<package id="docker-cli" />
	<package id="docker-for-windows" />
	<package id="DotNet4.5" />
	<package id="DotNet4.5.2" />
	<package id="DotNet4.6.1" />
	<package id="dotnet4.6.2" />
	<package id="dotnetfx" />
	<package id="doublecmd" />
	<package id="dropbox" />
	<package id="emacs" />
	<package id="Everything" />
	<package id="ext2fsd" />
	<package id="filezilla" />
	<package id="freecad" />
	<package id="Ghostscript" />
	<package id="Ghostscript.app" />
	<package id="gimp" />
	<package id="git" />
	<package id="git.install" />
	<package id="gitextensions" />
	<package id="glogg" />
	<package id="godot" />
	<package id="golang" />
	<package id="GoogleChrome" />
	<package id="gpg4win" />
	<package id="graphviz" />
	<package id="gsudo" />
	<package id="httrack" />
	<package id="httrack.app" />
	<package id="hwinfo" />
	<package id="hwinfo.install" />
	<package id="imagej" />
	<package id="imagemagick" />
	<package id="imagemagick.app" />
	<package id="InkScape" />
	<package id="intellijidea-community" />
	<package id="jdk8" />
	<package id="jre8" />
	<package id="KB2919355" />
	<package id="KB2919442" />
	<package id="KB2999226" />
	<package id="KB3033929" />
	<package id="KB3035131" />
	<package id="kdiff3" />
	<package id="krita" />
	<package id="lessmsi" />
	<package id="libreoffice" />
	<package id="libreoffice-fresh" />
	<package id="llvm" />
	<package id="locate32" />
	<package id="manictime" />
	<package id="manictime.install" />
	<package id="mc" />
	<package id="microsoft-windows-terminal" />
	<package id="microsoftazurestorageexplorer" />
	<package id="miniconda3" />
	<package id="mqttfx" />
	<package id="mRemoteNG" />
	<package id="msiafterburner" />
	<package id="neovim" />
	<package id="netfx-4.6.2" />
	<package id="ngrok" />
	<package id="ngrok.portable" />
	<package id="nmap" />
	<package id="nodejs" />
	<package id="nodejs.install" />
	<package id="notepadplusplus" />
	<package id="notepadplusplus.install" />
	<package id="nssm" />
	<package id="nvm" />
	<package id="nvm.portable" />
	<package id="OpenCV" />
	<package id="openscad" />
	<package id="pandoc" />
	<package id="PDFCreator" />
	<package id="pdftk" />
	<package id="pip" />
	<package id="plantuml" />
	<package id="prefix" />
	<package id="prusaslicer" />
	<package id="putty" />
	<package id="putty.portable" />
	<package id="python" />
	<package id="python3" />
	<package id="qbittorrent" />
	<package id="qtcreator" />
	<package id="rapidee" />
	<package id="rufus" />
	<package id="servicebusexplorer" />
	<package id="sharex" />
	<package id="Shotcut" />
	<package id="shotcut.install" />
	<package id="slack" />
	<package id="spacemacs" />
	<package id="sumatrapdf" />
	<package id="sumatrapdf.commandline" />
	<package id="terminus" />
	<package id="tigervnc" />
	<package id="vcredist140" />
	<package id="vcredist2008" />
	<package id="vcredist2010" />
	<package id="vcredist2013" />
	<package id="vcredist2015" />
	<package id="vcredist2017" />
	<package id="vifm" />
	<package id="vim" />
	<package id="visualbcd" />
	<package id="visualstudio-installer" />
	<package id="visualstudio2017-installer" />
	<package id="vnc-viewer" />
	<package id="vscode" />
	<package id="webpicmd" />
	<package id="WhatsApp" />
	<package id="windirstat" />
	<package id="xmedia-recode" />
	<package id="xmind" />
	<package id="yarn" />
	<package id="youtube-dl" />
	<package id="yubikey-personalization-tool" />
	<package id="yubikey-piv-manager" />
</packages>
